<ul class="static-search-results">
{{#each cursor.result}}
<li>
  <a href="{{{url}}}">{{title}}</a>
  <div class="separator"></div>
  <div class="category">{{category}}</div>
</li>
{{/each}}
{{#if cursor.next_url}}
<li class="more">
  <a href="{{cursor.next_url}}">Next for more results</a>
</li>
{{/if}}
</ul>
{{#if (or cursor.prev_url cursor.next_url)}}
<nav class="pagination">
{{#if cursor.prev_url}}
<span class="prev"><a href="{{cursor.prev_url}}">{{cursor.prev_label}}</a></span>
{{/if}}
{{#if cursor.next_url}}
<span class="next"><a href="{{cursor.next_url}}">{{cursor.next_label}}</a></span>
{{/if}}
</nav>
{{/if}}
